<template>
  <form @submit.prevent="emit()" method="post" id="footer_form" ref="footer_form" :class="{submited : footerSubmited}">
    <p class="formHeading">{{laharHeading}}</p>
    <label for="name">Nome completo*</label>
    <input  v-model="name" type="text" name="name" placeholder="Nome completo*" required />
    <label for="email">E-mail*</label>
    <input  v-model="email" type="email" name="email" placeholder="E-mail*" required />
    <div class="grid row">
      <label for="phone">Telefone/WhatsApp</label>
      <the-mask :mask="['(##) ####-####', '(##) #####-####']"  v-model="phone" type="tel" name="phone" placeholder="Telefone/WhatsApp"/>
      <label for="work">Empresa</label>
      <input  v-model="work" type="text" name="work" placeholder="Empresa"/>
    </div>
    <button type="submit" name="Enviar" class="footerBtn" form="footer_form"><span>Enviar</span></button>

    <div v-show="loading" class="loading_container">
    <div class="lds-css ng-scope loading">
    <div class="lds-spin">
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
    </div>
    </div>
    </div>

    <div class="thanks">
      <picture>
        <source srcset="~/assets/thanks.webp"  type="image/webp" alt="Obrigado!">
        <img src="~/assets/thanks.svg" alt="Obrigado!">
      </picture>
      <h3>Obrigado!</h3>
      <p>Entraremos em contato em breve, <br>com uma oferta exclusiva que <br>preparamos para você!</p>
    </div>

  </form>
</template>

<script>

import {TheMask} from 'vue-the-mask'
const axios = require('axios')

export default {
  components: {TheMask},
  data(){
    return{
      laharHeading : 'Preencha os dados no formulário e entraremos em contato com a solução perfeita para você.',
      footerSubmited : false,
      loading: false,
      name : '',
      email : '',
      phone : '',
      work : '',
    }
  },
  methods: {
    emit(){
      if (this.name.length >= 1 && this.email.length >= 1 && this.email.includes('@') == true){
        let url = 'https://app.lahar.com.br/api/curl_server.php?jsoncallback=redireciona&token_api_lahar=veltiiAoVQWNIq9nIqUFLDa8cDei2MxpMFrNGJwRwaQ5IpSwCDNxw0xggctyN&nome_formulario=FOOTER_Plano229&url_origem=' + encodeURIComponent('https://www.velti.com.br/onix-plano-diamante/') + '&tipo_integracao=conversions' + '&nome_contato=' + encodeURIComponent(this.name) + '&email_contato=' + encodeURIComponent(this.email) + '&tel_fixo=' + encodeURIComponent(this.phone) + '&nome_empresa=' + encodeURIComponent(this.work)

        this.loading = true;

        axios.get(url)
        .then(function(response){
          this.loading = false;
          this.footerSubmited = true;
          this.$ga.event('Footer Form', 'Submit', 'Novo Lead');
        }.bind(this))
        .catch(function(error){
          console.log(error)
          this.loading = false;
          this.laharHeading = 'Algo está errado, tente novamente!'
        })
      }
    }
  }
}

</script>

<style>
/* LOADING */

@keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.loading_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, .8);
  z-index: 99999;
}

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-spin {
  position: relative;
  width:100%;
  height:100%;
}
.lds-spin div > div {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #cd2325;
  -webkit-animation: lds-spin 1s linear infinite;
  animation: lds-spin 1s linear infinite;
}
.lds-spin div:nth-child(1) > div {
  left: 146px;
  top: 86px;
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
}
.lds-spin > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}
.lds-spin div:nth-child(2) > div {
  left: 128.42640686px;
  top: 128.42640686px;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spin > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 142.42640686px 142.42640686px;
  transform-origin: 142.42640686px 142.42640686px;
}
.lds-spin div:nth-child(3) > div {
  left: 86px;
  top: 146px;
  -webkit-animation-delay: -0.625s;
  animation-delay: -0.625s;
}
.lds-spin > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100px 160px;
  transform-origin: 100px 160px;
}
.lds-spin div:nth-child(4) > div {
  left: 43.57359314px;
  top: 128.42640686px;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spin > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 57.57359314px 142.42640686px;
  transform-origin: 57.57359314px 142.42640686px;
}
.lds-spin div:nth-child(5) > div {
  left: 26px;
  top: 86px;
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s;
}
.lds-spin > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 40px 100px;
  transform-origin: 40px 100px;
}
.lds-spin div:nth-child(6) > div {
  left: 43.57359314px;
  top: 43.57359314px;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spin > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transform-origin: 57.57359314px 57.57359314px;
  transform-origin: 57.57359314px 57.57359314px;
}
.lds-spin div:nth-child(7) > div {
  left: 86px;
  top: 26px;
  -webkit-animation-delay: -0.125s;
  animation-delay: -0.125s;
}
.lds-spin > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100px 40px;
  transform-origin: 100px 40px;
}
.lds-spin div:nth-child(8) > div {
  left: 128.42640686px;
  top: 43.57359314px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spin > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform-origin: 142.42640686px 57.57359314px;
  transform-origin: 142.42640686px 57.57359314px;
}
.lds-spin div:nth-child(9) > div {
  left: 146px;
  top: 86px;
  -webkit-animation-delay: 0.125s;
  animation-delay: 0.125s;
}
.lds-spin > div:nth-child(9) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}
.lds-spin {
  width: 72px !important;
  height: 72px !important;
  -webkit-transform: translate(-36px, -36px) scale(0.36) translate(36px, 36px);
  transform: translate(-36px, -36px) scale(0.36) translate(36px, 36px);
}

/* END LOADING */

/* FORMULÁRIO */

#footer_form{
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin: 0;
  border-radius: 10px;
  border: solid .5px #FE5E5E;
  background-color: #fff;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  font-size: 16px;
  color: #636363;
  overflow: hidden;
  max-height: 420px;
}

#footer_form.done > .grid.row, #footer_form.done > .formHeading, #footer_form.done > input, #footer_form.done > button{
  transition: all 400ms ease;
  opacity: 0;
  transform: translateY(-5rem);
}

#footer_form input{
  font-size: 14px;
  min-height: 55px;
  max-height: 70px;
  padding: .6rem .8rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 #00000010;
  transition: all 200ms ease;
}

#footer_form input:focus{
  box-shadow: 0 4px 12px 0 #00000055;
}

#footer_form input:not(:focus):required:valid, #footer_form select:not(:focus):required:valid{
  border: solid 1px #1bde1b;
}

#footer_form p{
  font-size: 14px;
  margin-bottom: 1rem;
}

#footer_form .grid.row{
  margin-bottom: 0rem;
  grid-gap: 1rem;
}

#footer_form button span{
  font-size: 20px;
  font-weight: 500;
}

#footer_form button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  max-height: 70px;
  border: none;
  border-radius: 4px;
  background: -webkit-linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  box-shadow: 0px 4px 4px rgba(235, 52, 97, 0.2);
  transition: transform 300ms ease, box-shadow 400ms linear;;
  cursor: pointer;
  color: #fff;
}

#footer_form button:hover, #footer_form button:focus{
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px 0 rgba(235, 52, 97, 0.75);
  outline: none;
}

#footer_form button:active, #footer_form button:focus:active{
  transform: translateY(0);
  box-shadow: 0 4px 18px 0 rgba(235, 52, 97, 0.75);
  transition: transform 150ms ease, box-shadow 400ms linear;
}

.formHeading{
  transition: all 200ms ease;
}

#footer_form.submited input, #footer_form.submited .formHeading, #footer_form.submited .footerBtn{
  transform: translateY(-5rem);
  opacity: 0;
  visibility: none;
}

#footer_form.submited *{
  transition: transform 800ms ease, opacity 200ms linear;
  transition-delay: 300ms !important;
}

#footer_form .thanks{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  background: transparent;
  opacity: 0;
  visibility: none;
  z-index: -20;
  transform: translateY(5rem);
  transition: transform 800ms ease, opacity 200ms linear;
  transition-delay: 150ms;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer_form .thanks *{
  position: relative;
  transition: all 400ms ease;
  opacity: 0;
}

#footer_form .thanks p{
  font-size: 16px;
  margin-bottom: 1.6rem;
}

#footer_form .thanks h3{
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: .6rem;
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

#footer_form .thanks picture{
  max-width: 30%;
  transform: rotate(0) translateY(2rem) translateX(-10%);
  margin-bottom: 1.4rem;
}

#footer_form.submited .thanks{
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transform: translateY(0);
}

#footer_form.submited .thanks *{
  opacity: 1;
}

#footer_form.submited .thanks picture{
  transform: rotate(-15deg) translateY(0) translateX(-10%);
  transition: all 600ms cubic-bezier(.33,.01,.47,1.55);
}

#footer_form.submited .thanks h3{
  transition-delay: 300ms;
}

#footer_form.submited .thanks p{
  transition-delay: 700ms;
}

</style>
