<template>
  <div id="thanks" :class="{submited : thanksAnim}">

    <div class="thanks">
      <picture>
        <source srcset="~/assets/thanks.webp"  type="image/webp" alt="Obrigado!">
        <img src="~/assets/thanks.svg" alt="Obrigado!">
      </picture>
      <h3>Tudo certo!</h3>
      <p>Entraremos em contato em breve!</p>
      <p>Caso ainda possua alguma dúvida, <a title="Tire suas dúvidas" href="#contato">fale conosco.</a></p>
    </div>

  </div>
</template>

<script>

export default {
  data(){
    return{
      thanksAnim : false
    }
  },
  mounted() {
    this.thanksAnim = true;
  }
}

</script>

<style>
/* FORMULÁRIO */

#thanks{
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin: 0;
  border-radius: 10px;
  border: solid .5px #FE5E5E;
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: 16px;
  color: #636363;
  height: auto;
  transition: all 200ms ease;
  min-height: 350px;
}

.formHeading{
  transition: all 200ms ease;
}

#thanks .thanks{
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  background: transparent;
  opacity: 0;
  visibility: none;
  z-index: -20;
  transform: translateY(5rem);
  transition: transform 100ms ease, opacity 200ms linear;
  transition-delay: 150ms;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#thanks .thanks *{
  position: relative;
  transition: all 600ms ease;
  opacity: 0;
}

#thanks .thanks p{
  font-size: 16px;
}

#thanks .thanks p a{
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#thanks .thanks h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 1.4rem;
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

#thanks .thanks picture{
  max-width: 30%;
  transform: rotate(0) translateY(2rem) translateX(-10%);
  margin-bottom: 1.4rem;
}

#thanks.submited .thanks{
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transform: translateY(0);
}

#thanks.submited .thanks *{
  opacity: 1;
}

#thanks.submited .thanks picture{
  transform: rotate(-15deg) translateY(0) translateX(-10%);
  transition: all 600ms cubic-bezier(.33,.01,.47,1.55);
}

#thanks.submited .thanks h3{
  transition-delay: 300ms;
}

#thanks.submited .thanks p{
  transition-delay: 700ms;
}

</style>
