<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=optional');
html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: none;
    background-color: transparent;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: #333;
    border-radius: 4px;
}


html, body{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

img, * img {
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}

picture{
  user-select: none;
  pointer-events: none;
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		scroll-behavior: auto;
	}
}
</style>
