<template>
  <div>
    <!-- START OF HERO SECTION -->

    <section id="inicio" class="section hero">
      <div class="grid column header">
        <picture id="logo_velti">
          <source srcset="~/assets/logo_velti.webp" alt="Logo Velti Tecnologia" />
          <img srcset="~/assets/logo_velti.png" alt="Logo Velti Tecnologia" />
        </picture>
        <h1>Sua compra foi concluida com sucesso!</h1>
        <h2>
          <span>Obrigado.</span>
        </h2>
      </div>
      <div class="grid row full">

        <thanks />

      </div>

    </section>
    <!-- END OF HERO SECTION -->

    <!-- START OF 'Nossos Clientes' SECTION -->

    <section class="section nossos_clientes">
      <h2>A Velti é especialista em gestão de ponto a mais de 15 anos e atende clientes como:</h2>
      <div class="clientes_container">

      <carousel id="carouselBig" :navigationEnabled="true" :touch="true" :per-page="4" :centerMode="true" :paginationEnabled="false" :scrollPerPage="false" :mouseDrag="true" :autoplay="true" :autoplayHoverPause="false" :loop="true" :autoplayTimeout="3000">

        <slide>
          <picture>
            <source srcset="~/assets/01.webp" type="image/webp" alt="Anglo American" />
            <img src="~/assets/01.png" alt="Anglo American" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/02.webp" type="image/webp" alt="Drogarias Pacheco" />
            <img src="~/assets/02.png" alt="Drogarias Pacheco" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/03.webp" type="image/webp" alt="Prefeitura de Caxias do Sul" />
            <img src="~/assets/03.png" alt="Prefeitura de Caxias do Sul" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/04.webp" type="image/webp" alt="Prefeitura de Pinhais" />
            <img src="~/assets/04.png" alt="Prefeitura de Pinhais" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/05.webp" type="image/webp" alt="Secretaria de Administração do Estado da Bahia" />
            <img src="~/assets/05.png" alt="Secretaria de Administração do Estado da Bahia" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/06.webp" type="image/webp" alt="Zortea Construções LTDA" />
            <img src="~/assets/06.png" alt="Zortea Construções LTDA" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/07.webp" type="image/webp" alt="Ministério do Trabalho e Emprego" />
            <img src="~/assets/07.png" alt="Ministério do Trabalho e Emprego" />
          </picture>
        </slide>

      </carousel>

      <carousel id="carouselSmall" :navigationEnabled="false" :touch="true" :per-page="2" :centerMode="true" :paginationEnabled="false" :scrollPerPage="false" :mouseDrag="true" :autoplay="true" :autoplayHoverPause="false" :loop="true" :autoplayTimeout="3000">

        <slide>
          <picture>
            <source srcset="~/assets/01.webp" type="image/webp" alt="Anglo American" />
            <img src="~/assets/01.png" alt="Anglo American" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/02.webp" type="image/webp" alt="Drogarias Pacheco" />
            <img src="~/assets/02.png" alt="Drogarias Pacheco" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/03.webp" type="image/webp" alt="Prefeitura de Caxias do Sul" />
            <img src="~/assets/03.png" alt="Prefeitura de Caxias do Sul" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/04.webp" type="image/webp" alt="Prefeitura de Pinhais" />
            <img src="~/assets/04.png" alt="Prefeitura de Pinhais" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/05.webp" type="image/webp" alt="Secretaria de Administração do Estado da Bahia" />
            <img src="~/assets/05.png" alt="Secretaria de Administração do Estado da Bahia" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/06.webp" type="image/webp" alt="Zortea Construções LTDA" />
            <img src="~/assets/06.png" alt="Zortea Construções LTDA" />
          </picture>
        </slide>

        <slide>
          <picture>
            <source srcset="~/assets/07.webp" type="image/webp" alt="Ministério do Trabalho e Emprego" />
            <img src="~/assets/07.png" alt="Ministério do Trabalho e Emprego" />
          </picture>
        </slide>

      </carousel>

    </div>
      <span class="divisor"></span>
    </section>



    <!-- END OF 'Nossos Clientes' SECTION -->

    <section class="section contato" id="contato">
      <h2>Entre em contato!</em></h2>
      <div class="footerForm_container">

        <footerForm/>

        <p>ou</p>

        <a id="whatsappDesktop" target="_blank" rel="noopener" href="https://web.whatsapp.com/send?phone=997830700&text=Ol%C3%A1%2C%20visitei%20sua%20p%C3%A1gina%20sobre%20o%20Rel%C3%B3gio%20de%20Ponto%20Onix%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!" title="Mande uma mensagem para nós no WhatsApp"><button class="btn whatsapp"><img src="~/assets/whatsapp.svg" alt="Logo do WhatsApp" />Fale no WhatsApp</button></a>

        <a id="whatsappMobile" target="_blank" rel="noopener" href="https://wa.me/5541997830700?text=Ol%C3%A1%2C%20visitei%20sua%20p%C3%A1gina%20sobre%20o%20Rel%C3%B3gio%20de%20Ponto%20Onix%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!" title="Mande uma mensagem para nós no WhatsApp"><button class="btn whatsapp"><img src="~/assets/whatsapp.svg" alt="Logo do WhatsApp" />Fale no WhatsApp</button></a>

      </div>
    </section>



    <footer class="site-footer" role="contentinfo">
      <div class="logo-footer-container">
        <picture>
          <source srcset="~/assets/logo_velti.webp" type="image/webp" alt="Logo da Velti Tecnologia" />
          <img class="logo-footer" src="~/assets/logo_velti.png" alt="Logo da Velti Tecnologia" />
        </picture>
      </div>
  		<div class="col-full flex">

  			<div class="flex column">
  				<p><span>Matriz - Curitiba/PR</span> <br>R. Pr. M. Virgínio de Souza - 1059 <br>CEP: 82810-400</p>
  				<p><span>Filial - Salvador/BA</span> <br>ED. Executive Center - SL 205 <br>Rua Professor Rômulo Almeida <br>CEP: 40290-030</p>
  			</div>

  			<div class="flex column">
  				<p><span>Central de Atendimento</span> <br><span class="footerMail"><a href="mailto:comercial@velti.com.br" title="Clique e entre em contato via e-mail">comercial@velti.com.br</a></span><br><span class="footerPhone">41 3019-3119</span></p>
  				<p><span>Visite nosso site</span> <br><span class="footerLink"><a href="https://www.velti.com.br" title="Visite nosso site em velti.com.br">www.velti.com.br</a></span></p>
  			</div>

  			<div class="flex column">
  				<div class="flex row social-row">
  					<a href="https://www.facebook.com/velti.com.br/" target="_blank" rel="noopener" title="Velti Tecnologia no Facebook">
              <picture>
                <source srcset="~/assets/facebook.webp" type="image/webp" alt="Logo do Facebook" />
                <img src="~/assets/facebook.png" alt="Logo do Facebook" />
              </picture>
            </a>
  					<a href="https://www.linkedin.com/company/veltitecnologia" target="_blank" rel="noopener" title="Velti Tecnologia no LinkedIn">
              <picture>
                <source srcset="~/assets/linkedin.webp" type="image/webp" alt="Logo do LinkedIn" />
                <img src="~/assets/linkedin.png" alt="Logo do LinkedIn" />
              </picture>
            </a>
  					<a href="https://www.youtube.com/channel/UCbSiqKB7PyRVDkSZEErwtSg" target="_blank" rel="noopener" title="Velti Tecnologia no YouTube">
              <picture>
                <source srcset="~/assets/youtube.webp" type="image/webp" alt="Logo do YouTube" />
                <img src="~/assets/youtube.png" alt="Logo do YouTube" />
              </picture>
            </a>
  				</div>
  				<div class="flex row">
  					<div class="flex column newsletter-optin-container">
  							<p><span>Fique por dentro das novidades da Velti</span><br>Siga-nos para saber de nossas promoções exclusivas!</p>
  					</div>
  				</div>
  			</div>

  		</div><!-- .col-full -->
  	</footer><!-- #colophon -->

  </div>
</template>

<script>
import thanks from '../components/thanks.vue';
import footerForm from '../components/footerForm.vue';
const axios = require('axios');

export default {
  data(){
    return {
      footerSubmited : false,
      loading: false,
    }
  },
  components: {
    thanks,
    footerForm
  },
  // mounted(){
  //   setTimeout(() => {
  //             this.$router.back();
  //         }, 10000)
  // },
  methods: {
    updateNameData(value){
        this.name = value;
    },
    updateEmailData(value){
        this.email = value;
    },
    updatePhoneData(value){
        this.phone = value;
    },
    updateWorkData(value){
        this.work = value;
    }
  }
}
</script>

<style>

#logo_velti img{
  max-height: 55px;
  margin-bottom: 2rem;
}

button, button > *{
  user-select: none;
  cursor: pointer;
}

.section.lastcta{
  min-height: auto;
}

.section.lastcta .divisor{
  margin-top: 5rem;
  max-width: 50%;
}

.alert{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 4rem auto;
  border-radius: 10px;
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  color: #f7f7f7;
  min-height: 6rem;
  padding: 3rem 2rem;
  max-width: 65%;
}

.alert h2, .alert h2 span{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

.btn_helperTxt.black{
  color: #333;
  font-weight: 400;
}

.btn_helperTxt.black span{
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 20px;
}

.VueCarousel-navigation-button, .VueCarousel-navigation-button:focus, .VueCarousel-navigation-button:active, .VueCarousel-navigation-button:visited{
  outline: none;
}

.VueCarousel-slide{
  border-radius: 10px;
  transition: all 100ms ease;
}

.VueCarousel-slide:hover{
  background: rgba(0,0,0,.1);
}

@media only screen and (min-width: 1024px){

  #whatsappMobile{
    display: none;
  }

  .section.nossos_clientes h2 {
      max-width: 55%;
      margin: 0 auto;
  }

  .section.mais_motivos .btn_helperTxt{
    transition-delay: 200ms;
    max-width: 60%;
  }

}

/* labels */

label[for="name"], label[for="email"], label[for="phone"],  label[for="work"]
{
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

/* end labels */

footer a, footer a:visited{
  text-decoration: none;
  color: #5f5f5f;
  background: none;
}

footer a:hover, footer a:focus, footer a:active, footer a:focus:active{
  background: -webkit-linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
}

.modal_backdrop{
  z-index: -5;
  background-color: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: none;
  transform: scale(.97);
  transition: all 200ms ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
}

.modal_backdrop.active{
  z-index: 99999999;
  background-color: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.topo{
  z-index: 999999;
  position: fixed;
  left: 0;
  top: 100%;
  width: 101%;
  transform: translateY(-100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btnHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 6%;
}


.btnHolder a:first-of-type{
  margin-right: 2.4rem;
  font-size: 16px;
  background: -webkit-linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  text-decoration: none;
}

.btnHolder .btn, .btnHolder a{
  font-size: 20px;
  max-height: 45px;
  min-height: 40px;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btnHolder .btn.whatsapp{
  min-width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  margin-right: 2.4rem;
}

.topo .divisor{
  width: 101%;
  max-width: 102%;
  height: 50px;
  background-color: #f7f7f7;
  box-shadow: 0 -2px 12px 0 rgba(0,0,0,.2);
}

.topo picture{
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-45%);
  pointer-events: all;
}

.topo picture img{
  max-height: 35px;
  width: auto;
}

#carouselSmall{
  display: none;
}

.site-footer {
	background-color: #e6e6e6;
	color: #5f5f5f;
}

footer{
  padding: 5vh 7vw 5vh 7vw;
}

.social-row{
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  margin-bottom: 2.4rem;
}

.social-row a:hover picture img{
  transform: translateY(-3px);
}

.social-row picture img{
  transition: all 200ms ease;
}

.social-row picture img:hover{
  transform: translateY(-3px);
}

footer .flex.column.newsletter-optin-container p span:first-child{
  background: -webkit-linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 18px;
}

footer .col-full.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 !important;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.logo-footer-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.logo-footer {
	width: 7rem;
	transform: translateX(-.5rem);
	margin-bottom: 0;
}

footer .flex.column p span:first-child {
	font-weight: 500;
}

footer .flex.column p {
	margin-bottom: 1.4rem;
}

/* END FOOTER */

.footerForm_container{
  margin: 3rem auto 0 auto;
  max-width: 35%;
  text-align: center;
}

.footerForm_container > p{
  margin: 1rem auto;
}

.divisor{
  display: block;
  height: 1px;
  min-width: 97%;
  max-width: 97%;
  color: rgba(0,0,0,.15);
  background-color: rgba(0,0,0,.15);
}

img, * img {
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}

picture{
  user-select: none;
  pointer-events: none;
}

.clientes_container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.VueCarousel {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.VueCarousel-inner div{
  cursor: grab;
}

.VueCarousel-inner div:active, .VueCarousel-inner div:focus, .VueCarousel-inner div:focus:active{
  cursor: grabbing;
}

.VueCarousel-slide{
  justify-content: flex-start;
  align-items: center;
}

.VueCarousel-inner{
  justify-content: space-between;
}

.VueCarousel-slide picture{
  display: flex;
  align-items: center;
  height: 100%;
}

.nextSlide{
  cursor: pointer;
}

.btn{
  max-width: 270px;
  max-height: 70px;
  min-height: 55px;
  min-width: 230px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  border: none;
  outline: none;
  transition: transform 300ms ease, box-shadow 400ms linear;
  cursor: pointer;
}

.btn:focus, .btn:active, .btn:focus:active, .btn:visited{
  outline: none;
}

.btn.primary{
  background: -webkit-linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  box-shadow: 0px 4px 4px rgba(235, 52, 97, 0.2);
  color: #fff;
}

.btn.primary:hover{
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px 0 rgba(235, 52, 97, 0.75);
}

.btn.primary:active, .btn.primary:focus:active{
  transform: translateY(0);
  box-shadow: 0 4px 18px 0 rgba(235, 52, 97, 0.75);
}

.btn.secondary{
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.15)
}

.btn.secondary:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.35)
}

.btn.secondary:active, .btn.secondary:focus:active{
  transform: translateY(0);
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.6)
}

a{
    text-decoration: none;
}

.btn.whatsapp a{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 0.025em;
  font-weight: 500;
}

.btn.whatsapp{
  max-width: 100%;
  min-width: calc(100% - 4rem);
  color: #fff;
  background-color: #43bf5b;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.15);
  font-weight: 500;
  margin-bottom: 2rem;
}

.btn.whatsapp:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.35)
}

.btn.whatsapp:active, .btn.whatsapp:focus:active{
  transform: translateY(0);
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.6)
}

.btn.whatsapp img{
  max-height: 25px;
  margin-right: .6rem;
}

.btn_helperTxt{
  text-align: center;
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.section{
  padding: 5vh 7vw 5vh 7vw;
  position: relative;
}

.section.hero{
  background-color: #f7f7f7;
  background-image: url('/sucesso/textura.png');
  background-position: top right;
  padding-bottom: 8vh;
  padding-top: 4vh;
  z-index: 3;
}

.btn.primary span{
  font-size: 20px;
}

.btn.secondary span{
  font-size: 20px;
}

.section.hero h1, .section.hero h2 span, .btn.secondary span, .section.precisao_seguranca h2, .icon_container:not(.container_primary) .icon_text h3, .section.mais_motivos h2, .section.mais_motivos h2 span .section.mais_motivos p span, .section.nossos_clientes h2, .section.contato h2{
  background: -webkit-linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  background: linear-gradient(136.72deg, #FE5E5E -0.36%, #E01D63 136.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section.contato{
  padding-top: 5vh;
}

.section.hero h2{
  color: #3e3e3e;
}

.icon_set_1{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 3.6rem;
}

.icon_set_1 picture{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 6;
  transform: translate(-15%, -10%) scale(1.35);
  transform-origin: top left;
}

.icon_set_1 .icon_container{
  padding: 2rem;
}

.icon_set_1 .icon_container .icon_container_inner{
  background: none;
  border-radius: 0;
  padding: 0;
}

.icon_set_1 .icon_container .icon_container_inner img {
    max-width: 70px;
    width: 70px;
    height: auto;
}

.icon_set_1 .icon_container:hover .icon_container_inner{
  box-shadow: none;
}

.icon_set_1 .icon_container:not(.container_primary){
  padding: 0;
  padding-right: 4rem;
}


.icon_set_1 .icon_container.container_primary{
  border-radius: 10px;
  background: linear-gradient(166.56deg, #FE5E5E 13.27%, #E01D63 93.45%);
}

.icon_container .icon_text p, .icon_container .icon_text p span{
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.icon_text h3{
  font-size: 18px;
  color: #f7f7f7;
}

.icon_set_1 .icon_container.container_primary .icon_text p{
  color: #f7f7f7;
}

.icon_set_1 .icon_container.container_primary p{
  font-weight: 400;
}



.flex{
  display: flex;
}

.flex.column{
  flex-direction: column;
}

.flex.h-center{
  align-items: center;
}

.grid{
  display: grid;
}

.column{
  grid-auto-rows: auto;
}

.row{
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.full{
  width: 100%;
}

.header{
  text-align: center;
}


.section.hero .grid h1, .section.precisao_seguranca h2, .section.contato h2, .section.contato h2 em {
  font-size: 48px;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1.2rem;
}


.section.precisao_seguranca h2{
  margin-bottom: 6rem;
}

.section.contato h2 em{
  font-weight: 300;
}

.section.contato h2, .section.contato h2 em{
  text-align: center;
}

.section.hero .grid h2, .section.hero .grid h2 span{
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 3rem;
}

.section.nossos_clientes{
  min-height: auto;
  margin: 4rem 0;
}

.section.nossos_clientes h2{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.section.hero .grid.row.full{
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.3fr) minmax(0, 1fr);
}

#thanks{
  grid-column-start: 2;
}

/*END OF HERO SECTION*/

@media only screen and (max-width: 1024px){
  #thanks{
    grid-column-start: 1;
  }
  .header {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footerForm_container {
    margin: 3rem auto 0 auto;
    max-width: 65%;
    text-align: center;
}

  #whatsappDesktop{
    display: none;
  }
  html, body{
    overflow-x: hidden !important;
  }
  #carouselSmall{
    display: block;
  }
  #carouselBig{
    display: none;
  }

  .footerForm_container {
    margin: 1.4rem auto 0 auto;
  }
  .VueCarousel-slide{
    max-width: 40%;
    margin: 0 1rem;
    justify-content: flex-start;
    align-items: center;
  }
  .section{
    min-height: 0;
    padding: 2vh 5vw;
  }
  .section.hero{
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
  }
  .section.hero .grid.row.full picture {
    transform: translate(0, 10%);
    transition: transform 400ms ease, opacity 200ms linear;
    transform-origin: center center;
    margin-left: 0;
  }
  .section.hero .grid.row.full {
    grid-template-columns: minmax(0, 1fr);
  }

  .section.hero .grid h1, .section.contato h2, .section.contato h2 em {
    font-size: 2.2rem;
  }
  .section.hero .grid h2, .section.hero .grid h2 span{
    font-size: 1.6rem;
  }
  .section.hero .grid picture > * {
    max-width: 90vw;
  }
  .section.nossos_clientes {
      margin-bottom: 2rem;
  }
  .footerForm_container {
    max-width: 65%;
  }
  footer .col-full.flex {
    flex-direction: column;
  }
  footer {
    padding: 5vh 7vw 5vh 7vw;
    text-align: center;
  }
  .flex.column {
    width: 100%;
  }
  .social-row{
    margin: 0 auto;
    min-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
  }
  .social-row a{
    margin: 0 1rem;
    height: auto;
  }
  .social-row a picture img{
    height: auto;
    width: 50px;
  }
  .social-row a:last-child picture img{
    height: auto;
    width: 55px;
  }
  .logo-footer {
    width: 9rem;
    -webkit-transform: translateX(-.5rem);
    transform: translateX(-.5rem);
    margin-bottom: 0;
    margin: 0 auto;
  }
  .logo-footer-container {
    align-items: center;
    justify-content: center;
  }
  .section.contato{
    padding-bottom: 5vh;
  }
}

@media only screen and (max-width: 767px){

  .section.hero .grid.row.full {
    grid-gap: 2rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
  }
  .footerForm_container {
    max-width: 100%;
  }
  #logo_velti img{
    margin-bottom: 0.5rem;
  }
  .section.hero .grid h2, .section.hero .grid h2 span{
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 360px){
  .section.nossos_clientes{
    margin-top: -45vh;
  }
  .btn.whatsapp{
    min-width: 100%;
  }
  #hero_form, #footer_form{
    padding: 0;
    border-radius: 4px;
    border: none;
    background: transparent;
  }
  #footer_form input{
    font-size: 12px;
  }
  #footer_form .thanks{
    border-radius: 4px;
  }
  #footer_form .thanks picture img{
    max-height: 90px;
  }
}
</style>
